<!doctype html>
<html lang="se">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

    <title>{% block title %}{% endblock %} - Webpass</title>
  </head>
  <body>
		<div class="container">
			<header>
				{% block header %}{% endblock %}
			</header>
			{% for message in get_flashed_messages() %}
				<div class="alert alert-primary" role="alert">{{ message }}</div>
			{% endfor %}
			{% block content %}{% endblock %}
		</div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

  </body>
</html>

