{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block header %}
<div id="login-header">
  <h1>Login</h1>
</div>
{% endblock %}

{% block content %}
<form id="login-form" method="post" action="/">
  <div class="form-floating mb-3">
    <input name="identity" type="text" class="form-control" id="floatingInput" placeholder="identity">
    <label for="floatingInput">Identity</label>
  </div>
  <div class="form-floating">
    <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>
  <button id="login-button" type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
