{% extends 'base.html' %}

{% block title %}Passwords{% endblock %}

{% block header %}
<nav class="navbar navbar-light bg-light">
  <a class="btn btn-outline-success" type="button" href="/logout">Logout</a>
</nav>

<div id="login-header">
  <h1>Passwords</h1>
</div>
{% endblock %}

{% block content %}

<div class="accordion">
{% for password in passwords %}
  <div class="card mb-6" id="password-{{ password.index }}">
    <div class="card-header" id="heading-{{ password.index }}">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsedPassword{{ password.index }}" aria-expanded="false" aria-controls="collapsedPassword{{ password.index }}">
          {{ password.name }}
        </button>
      </h5>
    </div>

    <div id="collapsedPassword{{ password.index }}" class="collapse" aria-labelledby="heading-{{ password.index }}" data-parent="#accordion">
      <div class="card-body">
        <pre id="passwordBody-{{ password.index }}"></pre>
        <form class="passwordUnlockForm">
          <input type="hidden" name="index" value="{{ password.index }}">
          <input type="hidden" name="file" value="{{ password.file }}">
          <div class="form-floating">
            <input name="passphrase" type="password" class="form-control" id="floatingPassword" placeholder="Passphrase">
            <label for="floatingPassword">Passphrase</label>
          </div>
          <button type="submit" class="btn btn-primary">Unlock</button>
        </form>
      </div>
    </div>
  </div>

  <hr />
{% endfor %}
</div>

{% endblock %}
